.dtm-ct-card{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}


.dtm-ct-card .dtm-card-body{
    width: 100%;
    /* height: 300px; */
    /* background-color: aquamarine; */
    border-radius: 5px ;
    
}

.dtm-ct-card .dtm-divider{
    grid-column: 1/4    ;
}

@media  (max-width: 832px) {
    .dtm-ct-card{
        grid-template-columns: repeat(2 , 1fr);
    }    
    .dtm-ct-card .dtm-divider{
        grid-column: 1/3    ;
    }
}


@media  (max-width: 605px) {
    .dtm-ct-card{
        grid-template-columns: repeat(1 , 1fr);
    }    
    .dtm-ct-card .dtm-divider{
        grid-column: 1/2    ;
    }
    .carousel-inner{
        height: 400px !important;
    }
}

@media  (max-width: 515px) {
    .p-4{
        padding: 0px !important;
    }
    
}